[Unit]
Description=Acadfy
Wants=mongod.service
After=network.target mongod.service

[Service]
Type=simple
# User=ubuntu
Environment="PORT=80"
Environment="NODE_ENV=production"
Environment="JWTKEY=CHANGETHIS"
WorkingDirectory=/home/ubuntu/acadfy/backend/
ExecStart=/usr/bin/yarn start

[Install]
WantedBy=multi-user.target
